<p>Hey {{ name }},</p>
<p>You recieved this mail because you attempted to reset you password</p>
<p>Please copy the token below to confirm your email</p>
<p style="font-weight: 500; font-size: 40px;">
    {{token}}
</p>

<p>If you did not request this email you can safely ignore it.</p>